<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M1_R_Basics/images/IDSNlogo.png" width="200" align="center">
</a>

<h1>Data Wrangling with Regular Expressions</h1>

Estimated time needed: **40** minutes

## Lab Overview:

In the previous data collection labs, you collected some raw datasets from several different sources. In this lab, you need to perform data wrangling tasks in order to improve data quality.

You will again use regular expressions, along with the `stringr` package (part of `tidyverse`), to clean up the bike-sharing systems data that you previously web scraped from the wiki page:

[https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems](https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01)

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-list-bike-sharing-systems.png" width="800" align="center">
</a>

One typical challenge of web scraping is that data extracted from HTML pages may contain unnecessary or inconsistently fomatted information.\
For example:

*   Textual annotations in numeric fields: `1000 (Updated with 1050)`
*   Attached reference links: `Bike sharing system [123]`
*   Inconsistent data formats: `Yes` and `Y` for the logical value `TRUE` or `2021-04-09` and `Apr 09, 2021` for the same date
*   HTML style tags: `<span style="color:blue">Bike sharing system</span>`
*   Special characters: `&nbsp` for a white space

Many more such examples of noise may be encountered in real-world scraped data and most of such text related noises could be handled by regular expressions.

To summarize, you will be using `stringr` (part of `tidyverse`) and regular expressions to perform the following data wrangling tasks:

*   TASK: Standardize column names for all collected datasets
*   TASK: Remove undesired reference links from the scraped bike-sharing systems dataset
*   TASK: Extract only the numeric value from undesired text annotations

Let's begin by importing the libraries you will use for these data wrangling tasks.

In [227]:
# Check whether you need to install the `tidyverse` library
require("tidyverse")
library(tidyverse)

## TASK: Standardize column names for all collected datasets

In the previous data collection labs, you collected four datasets in csv format:

*   `raw_bike_sharing_systems.csv`:  A list of active bike-sharing systems across the world
*   `raw_cities_weather_forecast.csv`: 5-day weather forecasts for a list of cities, from OpenWeather API
*   `raw_worldcities.csv`: A list of major cities' info (such as name, latitude and longitude) across the world
*   `raw_seoul_bike_sharing.csv`: Weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour, and date information, from Seoul bike-sharing systems

*Optional:* If you had some difficulties finishing the data collection labs, you may download the datasets directly from the following URLs:

In [ ]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

To improve dataset readbility by both human and computer systems, we first need to standardize the column names of the datasets above using the following naming convention:

*   Column names need to be UPPERCASE
*   The word separator needs to be an underscore, such as in `COLUMN_NAME`

You can use the following dataset list and the `names()` function to get and set each of their column names, and convert them according to our defined naming convention.

In [208]:
dataset_list <- c('raw_bike_sharing_systems.csv', 'raw_seoul_bike_sharing.csv', 'raw_cities_weather_forecast.csv', 'raw_worldcities.csv')

In [209]:
dataset <- list() 
for (dataset_name in seq_along(dataset_list))
{   #read dataset
    dataset[[dataset_name]] <- read_csv(file = dataset_list[[dataset_name]])
}

Parsed with column specification:
cols(
  COUNTRY = col_character(),
  City = col_character(),
  Name = col_character(),
  SYSTEM = col_character(),
  OPERATOR = col_character(),
  LAUNCHED = col_character(),
  DISCONTINUED = col_character(),
  STATIONS = col_character(),
  BICYCLES = col_character(),
  DAILY_RIDERSHIP = col_character()
)
Parsed with column specification:
cols(
  Date = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  Hour = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  Visibility = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  Snowfall = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)
Parsed with column specification:
cols(
  city = col_character(),
  weather = col_character(),
  visibility = col_double(),
  temp = col_double(),
  temp_min = col_double(),
  temp_max = col_double(),
  pressure = col_double(),
  humidity = col_double(),
  wind_speed = col_double(),
  wind_deg = col_double(),
  season = col_character(),
  forecast_datetime = col_datetime(format = "")
)
Parsed with column specification:
cols(
  City = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)

In [210]:
# Standardized its columns:
# Replace any white space separators by underscores, using the str_replace_all function
names(dataset[[1]]) <- toupper(colnames(dataset[[1]]))
names(dataset[[2]]) <- toupper(colnames(dataset[[2]]))
names(dataset[[3]]) <- toupper(colnames(dataset[[3]]))
names(dataset[[4]]) <- toupper(colnames(dataset[[4]]))

In [211]:
# Save the dataset 
    write.csv(dataset[[1]],'raw_bike_sharing_systems.csv')
    write.csv(dataset[[2]],'raw_seoul_bike_sharing.csv')
    write.csv(dataset[[3]],'raw_cities_weather_forecast.csv')
    write.csv(dataset[[4]],'raw_worldcities.csv')

In [212]:
for (dataset_name in dataset_list){
    # Print a summary for each data set to check whether the column names were correctly converted
    print(summary(read.csv(dataset_name)))
}

       X                  COUNTRY                   CITY
 Min.   :  1.0   Germany      : 62   Berlin           :  9
 1st Qu.:120.8   China        : 61   Frankfurt am Main:  4
 Median :240.5   United States: 60   Milan            :  4
 Mean   :240.5   France       : 38   Bratislava       :  3
 3rd Qu.:360.2   Greece       : 22   Düsseldorf       :  3
 Max.   :480.0   Italy        : 20   Nuremberg        :  3
                 (Other)      :217   (Other)          :454
              NAME                  SYSTEM                   OPERATOR
 nextbike       : 24   3 Gen. nextbike : 61   JCDecaux           : 16
 Rekola         : 12   3 Gen. B-Cycle  : 26   Motivate           : 10
 EasyBike       : 10   3 Gen. Cyclocity: 26   Antik Telecom      :  6
 metropolradruhr: 10   4 Gen.          : 23   NTA & An Rothar Nua:  3
 Cyclopolis     :  9   3 Gen. Smoove   : 22   Arriva             :  2
 (Other)        :373   (Other)         :182   (Other)            : 42
 NA's           : 42   NA's            :140   NA's               :401
    LAUNCHED         DISCONTINUED     STATIONS      BICYCLES
 2010   : 30   2016        :  3   dockless: 17   100    : 18
 2011   : 21   Discontinued:  2   4       : 14   500    : 18
 2013   : 18   July 2018   :  2   10      : 13   300    : 17
 2009   : 15   19??        :  1   5       : 13   200    : 14
 2012   : 14   1966        :  1   30      : 12   1000   : 13
 (Other):351   (Other)     : 19   (Other) :335   (Other):324
 NA's   : 31   NA's        :452   NA's    : 76   NA's   : 76
          DAILY_RIDERSHIP
 105000 (2017[100]:  1
 13000            :  1
 1400             :  1
 14887            :  1
 150000 [100]     :  1
 (Other)          : 18
 NA's             :457
       X                DATE      RENTED_BIKE_COUNT      HOUR
 Min.   :   1   01/01/2018:  24   Min.   :   2.0    Min.   : 0.00
 1st Qu.:2191   01/02/2018:  24   1st Qu.: 214.0    1st Qu.: 5.75
 Median :4380   01/03/2018:  24   Median : 542.0    Median :11.50
 Mean   :4380   01/04/2018:  24   Mean   : 729.2    Mean   :11.50
 3rd Qu.:6570   01/05/2018:  24   3rd Qu.:1084.0    3rd Qu.:17.25
 Max.   :8760   01/06/2018:  24   Max.   :3556.0    Max.   :23.00
                (Other)   :8616   NA's   :295
  TEMPERATURE        HUMIDITY       WIND_SPEED      VISIBILITY
 Min.   :-17.80   Min.   : 0.00   Min.   :0.000   Min.   :  27
 1st Qu.:  3.40   1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 940
 Median : 13.70   Median :57.00   Median :1.500   Median :1698
 Mean   : 12.87   Mean   :58.23   Mean   :1.725   Mean   :1437
 3rd Qu.: 22.50   3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000
 Max.   : 39.40   Max.   :98.00   Max.   :7.400   Max.   :2000
 NA's   :11
 DEW_POINT_TEMPERATURE SOLAR_RADIATION     RAINFALL          SNOWFALL
 Min.   :-30.600       Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000
 1st Qu.: -4.700       1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000
 Median :  5.100       Median :0.0100   Median : 0.0000   Median :0.00000
 Mean   :  4.074       Mean   :0.5691   Mean   : 0.1487   Mean   :0.07507
 3rd Qu.: 14.800       3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   : 27.200       Max.   :3.5200   Max.   :35.0000   Max.   :8.80000

   SEASONS           HOLIDAY     FUNCTIONING_DAY
 Autumn:2184   Holiday   : 432   No : 295
 Spring:2208   No Holiday:8328   Yes:8465
 Summer:2208
 Winter:2160



       X                        CITY      WEATHER     VISIBILITY
 Min.   :  1.00   Paris           :40   Clear :55   Min.   : 9940
 1st Qu.: 40.75   Seoul           :40   Clouds:93   1st Qu.:10000
 Median : 80.50   Suzhou          :40   Rain  :12   Median :10000
 Mean   : 80.50   Washington, D.C.:40               Mean   :10000
 3rd Qu.:120.25                                     3rd Qu.:10000
 Max.   :160.00                                     Max.   :10000

      TEMP           TEMP_MIN         TEMP_MAX         PRESSURE
 Min.   : 3.810   Min.   : 3.810   Min.   : 3.810   Min.   : 954
 1st Qu.: 9.748   1st Qu.: 9.725   1st Qu.: 9.953   1st Qu.:1016
 Median :12.765   Median :12.765   Median :12.765   Median :1019
 Mean   :13.505   Mean   :13.444   Mean   :13.539   Mean   :1018
 3rd Qu.:16.747   3rd Qu.:16.635   3rd Qu.:16.977   3rd Qu.:1022
 Max.   :26.130   Max.   :26.130   Max.   :26.130   Max.   :1028

    HUMIDITY       WIND_SPEED       WIND_DEG        SEASON
 Min.   :17.00   Min.   :0.180   Min.   :  2.0   Spring:160
 1st Qu.:37.00   1st Qu.:1.455   1st Qu.: 92.0
 Median :49.00   Median :2.130   Median :141.0
 Mean   :49.92   Mean   :2.778   Mean   :163.7
 3rd Qu.:62.00   3rd Qu.:3.723   3rd Qu.:256.8
 Max.   :94.00   Max.   :8.180   Max.   :352.0

           FORECAST_DATETIME
 2021-04-16 12:00:00:  4
 2021-04-16 15:00:00:  4
 2021-04-16 18:00:00:  4
 2021-04-16 21:00:00:  4
 2021-04-17 00:00:00:  4
 2021-04-17 03:00:00:  4
 (Other)            :136
       X                  CITY             CITY_ASCII         LAT
 Min.   :    1   Clinton    :   14   Clinton    :   14   Min.   :-54.93
 1st Qu.: 6643   Richmond   :   14   Richmond   :   14   1st Qu.: 27.92
 Median :13285   Franklin   :   13   Franklin   :   13   Median : 40.22
 Mean   :13285   Springfield:   13   Springfield:   13   Mean   : 33.10
 3rd Qu.:19927   Greenville :   12   Greenville :   12   3rd Qu.: 47.99
 Max.   :26569   Hamilton   :   11   Hamilton   :   11   Max.   : 81.72
                 (Other)    :26492   (Other)    :26492
      LNG                      COUNTRY           ISO2            ISO3
 Min.   :-179.5900   United States : 7768   US     : 7768   USA    : 7768
 1st Qu.: -78.7794   United Kingdom: 1798   GB     : 1798   GBR    : 1798
 Median :  -0.7689   Germany       : 1606   DE     : 1606   DEU    : 1606
 Mean   : -11.3639   Russia        : 1161   RU     : 1161   RUS    : 1161
 3rd Qu.:  29.6833   Japan         :  827   JP     :  827   JPN    :  827
 Max.   : 179.3667   Brazil        :  788   (Other):13378   BRA    :  788
                     (Other)       :12621   NA's   :   31   (Other):12621
        ADMIN_NAME       CAPITAL        POPULATION             ID
 California  :  650   admin  : 3664   Min.   :       0   Min.   :1.004e+09
 Pennsylvania:  617   minor  : 3754   1st Qu.:    9246   1st Qu.:1.277e+09
 New York    :  594   primary:  208   Median :   20080   Median :1.643e+09
 Florida     :  472   NA's   :18943   Mean   :  162346   Mean   :1.556e+09
 São Paulo   :  430                   3rd Qu.:   59369   3rd Qu.:1.840e+09
 (Other)     :23730                   Max.   :37977000   Max.   :1.934e+09
 NA's        :   76                   NA's   :973

## Process the web-scraped bike sharing system dataset

By now we have standardized all column names. Next, we will focus on cleaning up the values in the web-scraped bike sharing systems dataset.

In [213]:
# First load the dataset
bike_sharing_df <- read_csv("raw_bike_sharing_systems.csv")

Warning message:
“Missing column names filled in: 'X1' [1]”Parsed with column specification:
cols(
  X1 = col_double(),
  COUNTRY = col_character(),
  CITY = col_character(),
  NAME = col_character(),
  SYSTEM = col_character(),
  OPERATOR = col_character(),
  LAUNCHED = col_character(),
  DISCONTINUED = col_character(),
  STATIONS = col_character(),
  BICYCLES = col_character(),
  DAILY_RIDERSHIP = col_character()
)

In [214]:
# Print its head
head(bike_sharing_df)

  X1 COUNTRY   CITY                  NAME                 SYSTEM
1 1  Albania   Tirana                Ecovolis             NA
2 2  Argentina Mendoza               Metrobici            NA
3 3  Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
4 4  Argentina Buenos Aires          Ecobici              Serttel Brasil
5 5  Argentina Rosario               Mi Bici Tu Bici[11]  NA
6 6  Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
  OPERATOR                       LAUNCHED         DISCONTINUED         STATIONS
1 NA                             March 2011       NA                   8
2 NA                             2014             NA                   2
3 NA                             27 November 2016 NA                   8
4 Bike In Baires Consortium.[10] 2010             NA                   400
5 NA                             2 December 2015  NA                   47
6 Motivate                       June 2010        30 November 2019[13] 53
  BICYCLES DAILY_RIDERSHIP
1 200      NA
2 40       NA
3 80       NA
4 4000     21917
5 480      NA
6 676      NA

Even from the first few rows, you can see there is plenty of undesireable embedded textual content, such as the reference link included in `Melbourne[12]`.

In this project, let's only focus on processing the following revelant columns (feel free to process the other columns for more practice):

*   `COUNTRY`: Country name
*   `CITY`: City name
*   `SYSTEM`: Bike-sharing system name
*   `BICYCLES`: Total number of bikes in the system

In [245]:
# Select the four columns
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

Let's see the types of the selected columns

In [246]:
sub_bike_sharing_df %>% 
    summarize_all(class) %>%
    gather(variable, class)

  variable class
1 COUNTRY  character
2 CITY     character
3 SYSTEM   character
4 BICYCLES character

They are all interpreted as character columns, but we expect the `BICYCLES` column to be of numeric type. Let's see why it wasn't loaded as a numeric column - possibly some entries contain characters. Let's create a simple function called `find_character` to check that.

In [247]:
# grepl searches a string for non-digital characters, and returns TRUE or FALSE
# if it finds any non-digital characters, then the bicyle column is not purely numeric
find_character <- function(strings) grepl("[^0-9]", strings)

Let's try to find any elements in the `Bicycles` column containing non-numeric characters.

In [248]:
sub_bike_sharing_df %>% 
    select(BICYCLES) %>% 
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

   BICYCLES
1  4115[22]
2  310[59]
3  500[72]
4  [75]
5  180[76]
6  600[77]
7  [78]
8  initially 800 (later 2500)
9  100 (220)
10 370[114]

As you can see, many rows have non-numeric characters, such as `32 (including 6 rollers) [162]` and `1000[253]`. This is actually very common for a table scraped from Wiki when no input validation is enforced.

Later, you will use regular expressions to clean them up.

Next, let's take a look at the other columns, namely `COUNTRY`, `CITY`, and `SYSTEM`, to see if they contain any undesired reference links, such as in `Melbourne[12]`.

In [249]:
# Define a 'reference link' character class, 
# `[A-z0-9]` means at least one character 
# `\\[` and `\\]` means the character is wrapped by [], such as for [12] or [abc]
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [250]:
# Check whether the COUNTRY column has any reference links
sub_bike_sharing_df %>% 
    select(COUNTRY) %>% 
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

     COUNTRY

Ok, looks like the `COUNTRY` column is clean. Let's check the `CITY` column.

In [251]:
# Check whether the CITY column has any reference links
sub_bike_sharing_df %>% 
    select(CITY) %>% 
    filter(find_reference_pattern(CITY)) %>%
    slice(0:10)

   CITY
1  Melbourne[12]
2  Brisbane[14][15]
3  Lower Austria[18]
4  Namur[19]
5  Brussels[21]
6  Salvador[23]
7  Belo Horizonte[24]
8  João Pessoa[25]
9  (Pedro de) Toledo[26]
10 Rio de Janeiro[27]

Hmm, looks like the `CITY` column has some reference links to be removed. Next, let's check the `SYSTEM` column.

In [252]:
# Check whether the System column has any reference links
sub_bike_sharing_df %>% 
    select(SYSTEM) %>% 
    filter(find_reference_pattern(SYSTEM)) %>%
    slice(0:10)

  SYSTEM
1 EasyBike[58]
2 4 Gen.[61]
3 3 Gen. SmooveKey[113]
4 3 Gen. Smoove[141][142][143][139]
5 3 Gen. Smoove[179]
6 3 Gen. Smoove[181]
7 3 Gen. Smoove[183]

So the `SYSTEM` column also has some reference links.

After some preliminary investigations, we identified that the `CITY` and `SYSTEM` columns have some undesired reference links, and the `BICYCLES` column has both reference links and some
textual annotations.

Next, you need to use regular expressions to clean up the unexpected reference links and text annotations in numeric values.

# TASK: Remove undesired reference links using regular expressions

*TODO:* Write a custom function using `stringr::str_replace_all` to replace all reference links with an empty character for columns `CITY` and `SYSTEM`

In [253]:
# remove reference link
remove_ref <- function(strings) {
    #ref_pattern <- "\\[[A-z0-9]+\\]"
    # Replace all matched substrings with a white space using str_replace_all()
    result <- str_replace_all(strings,ref_pattern," ")
    # Trim the reslt if you want
    return(result)
}

*TODO:* Use the `dplyr::mutate()` function to apply the `remove_ref` function to the `CITY` and `SYSTEM` columns

In [232]:
sub_bike_sharing_df$CITY<-remove_ref(sub_bike_sharing_df$CITY)

In [257]:
tail(sub_bike_sharing_df$CITY)

[1] "San Francisco Bay Area[312]"      "Santa Monica, California[313]"
[3] "Savannah, Georgia[314]"           "Seattle, Washington[315]"
[5] "Spartanburg, South Carolina[316]" "St. Paul"

In [265]:
sub_bike_sharing_df<-sub_bike_sharing_df %>% mutate(CITY=remove_ref(CITY), SYSTEM=remove_ref(SYSTEM))

*TODO:* Use the following code to check whether all reference links are removed:

In [266]:
sub_bike_sharing_df %>% 
    select(CITY, SYSTEM, BICYCLES) %>% 
    filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

     CITY SYSTEM BICYCLES

# TASK: Extract the numeric value using regular expressions

*TODO:* Write a custom function using `stringr::str_extract` to extract the first digital substring match and convert it into numeric type For example, extract the value '32' from `32 (including 6 rollers) [162]`.

In [259]:
# Extract the first number
extract_num <- function(columns){
    # Define a digital pattern
    digitals_pattern <- "[0-9]"
    # Find the first match using str_extract
    result <- str_extract(columns,digitals_pattern)
    # Convert the result to numeric using the as.numeric() function
   return(as.numeric(result))
}

*TODO:* Use the `dplyr::mutate()` function to apply `extract_num` on the `BICYCLES` column

In [264]:
# Use the mutate() function on the BICYCLES column
sub_bike_sharing_df <- sub_bike_sharing_df %>% mutate(BICYCLES=extract_num(BICYCLES))

*TODO:* Use the summary function to check the descriptive statistics of the numeric `BICYCLES` column

In [268]:
summary(sub_bike_sharing_df$BICYCLES)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  1.000   1.000   3.000   3.329   5.000   9.000      76

*TODO:* Write the cleaned bike-sharing systems dataset into a csv file called `bike_sharing_systems.csv`

In [270]:
# Write dataset to `bike_sharing_systems.csv`
write_csv(sub_bike_sharing_df,"sub_bike_sharing_df.csv")

# References:

If you need to refresh your memory about regular expressions, please refer to this good Regular Expression cheat sheet:

<a href="https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01" target="_blank">Basic Regular Expressions in R</a>

# Next Steps

Great! Now you have cleaned up the bike-sharing system dataset using regular expressions. Next, you will use other `tidyverse` functions to perform data wrangling on the bike-sharing demand dataset.

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01" target="_blank">Yan Luo</a>

### Other Contributors

Jeff Grossman

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-04-08        | 1.0     | Yan        | Initial version created |
|                   |         |            |                         |
|                   |         |            |                         |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>